@tailwind base;
@tailwind components;
@tailwind utilities;

.costruction-background {
  background: hsla(60, 92%, 71%, 1);

  background: linear-gradient(
    45deg,
    hsla(60, 92%, 71%, 1) 0%,
    hsla(237, 100%, 55%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(60, 92%, 71%, 1) 0%,
    hsla(237, 100%, 55%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(60, 92%, 71%, 1) 0%,
    hsla(237, 100%, 55%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9F871", endColorstr="#1926FF", GradientType=1 );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
